@charset "utf-8";
/* CSS Document */
/* CSS para efecto parallax facherito */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.contenedor{
    max-width: 960px;
    margin:auto;
}
.bloque h1{
    margin: 0px;
    text-align: center;
    font-size: 100px;
    line-height: 550px;
}
.bloque h2{
    margin: 0px;
    text-align: left;
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #b9bbbe;
}
.bloque pre{
    font-size: 22px;
    text-align: justify;
    margin-bottom: 30px;
    font-family:Arial, Helvetica, sans-serif;
    color: #ffffff;
}
.bloque.parallax{
    height: 600px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    /* Background attachement le da el efecto fachero :D*/
    background-attachment: fixed;
}
.parallax.foto-0{
    background-image: url(../imagenes/foto-0.jpg);

}
.parallax.foto-1{
    background-image: url(../imagenes/foto-1.jpg);

}
.parallax.foto-2{
    background-image: url(../imagenes/foto-2.jpg);

}
.parallax.foto-3{
    background-image: url(../imagenes/foto-3.png);
}
.parallax.foto-4{
  background-image: url(../imagenes/tkd.jpg);
}
.parallax.foto-5{
  background-image: url(../imagenes/amigos.jpg);
}
.parallax.foto-6{
  background-image: url(../imagenes/musica.jpg);
}
.parallax.foto-7{
  background-image: url(../imagenes/foto-7.jpg);

}
table{
    width: 200px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #2c2f33;
  }
  table{
    width: 100%;
    margin-bottom: 50px;
  }
  table, th, td{
    border: 2px solid #2c2f33;
    border-collapse: collapse;
  }
  td{
    background-color: #b9bbbe;
    padding: 10px;
    text-align: center;
  }
  th{
    background-color: #202225;
    padding: 15px;
    color: #ffffff;
  }
  caption{
    margin-bottom: 10px;
    color: #b9bbbe;
  }
  .imagen1{
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .a:link{
    color: #7289da;
  }
  .a:visited{
    color:#5865f2;
  }
  .imagen2{
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .imagen3{
    margin-top: 20px;
  }
  ::selection{
    color: #ffffff;
    background-color:#9850b4;
  }
  .logo{
    color: #ffffff;
    text-decoration: none;
    font-size: 40px;
  }
  .logo span{
    color: #606cf0;
  }
  .menu__bar{
    background-color: #111;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    position: fixed;
  }
.menu__bar ul{
  list-style: none;
  display: flex;
}

.menu__bar ul li{
  padding:  10px 30px;
  position: relative;
}
.menu__bar ul li a{
  color: white;
  text-decoration: none;
  font-size: 30px;
  transition: all 0.4s;
}
.menu__bar ul li a:hover{
  color:#5865f2;
}
.dropdown__menu{
  display: none;
}
.menu__bar ul li:hover .dropdown__menu{
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #111;
}
.dropdown__menu ul{
  display: block;

}
.dropdown__menu ul li{
  width: 150px;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ffffff;
}
.dropdown__menu ul li:last-child{
  border-bottom: none;
}
.listamusica{
  background-color:#858eec;
  list-style-position: inside;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
  width: fit-content;
  font-family:Arial, Helvetica, sans-serif;
  font-size: large;
}
ol>li {
  margin:0;
  padding:0 0 0 2em;
  text-indent:-2em;
  list-style-type:none;
  counter-increment:item;
}
 
ol>li:before {
  display:inline-block;
  width:1.5em;
  padding-right:0.5em;
  font-weight:bold;
  text-align:right;
  content:counter(item) ".";
}

.boton{
  background-color: #ffffff;
  color: #111;
  padding: 15px 25px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: x-large;
  transition: all 0.4s;
}
.boton:hover{
  background-color: #5865f2;
}
